

// .container{
//           background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.65)),
//                    url('https://images.dailynewsegypt.com/2024/04/egypt-aswan-nile-view.jpeg') center/cover no-repeat;
// }



#invite{
    width: 100%;
    border-radius: 3px;
}
